.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .recommended-flex {
    /* flex-direction: column; */
    align-items: center;
    margin-left: 7.5rem;
  }

  .recommended-title {
    text-align: center;
    margin-left: 7.5rem;
  }

  /* Adjust button styles for smaller screens */
  .recommended-flex button {
    width: 30%;
  }
}


/* Media query for smaller screens */
@media (max-width: 425px) {
  .recommended-flex {
   
    align-items: center;
    margin-left: 5rem;
  }

  .recommended-title {
    text-align: center;
    margin-left: 5rem;
  }
  .recommended-flex button {
    width: 17%;
  }

  
  
}